@header-backgrounds: #efefef;
@red: #e65454;
@h1-size: 10em;
@p-size: 1.25em;

header + *{
	margin-top: 70px;
}
ul.flash-messages{
	background-color: #fff;
	padding: 0;
	text-align: center;
	z-index: 500;
	margin-bottom: 0;
	li{
		list-style: none;
      padding: 20px 0;
		width: 100%;
		margin: 0;
	}
}
nav{
	background-color:#ccc;
	min-height: 50px;
	max-height: 70px;
	.transition(height 0.3s);
	a.navbar-brand{
		height: 70px;
		max-height: 100%
	}
	ul{
		margin: 0;
		float: right;
		li{
			padding: 0 30px;
			display:inline-block;
			a{
				line-height: 70px;
				color: #000;
				text-transform: uppercase;
				font-weight: bold;
				&:hover, &.active{
					color: @red;
					text-decoration: none;
				}
			}
		}
	}
	div#menu{
		background-color: #f8f8f8;
	}
	.navbar-header{
		button.navbar-toggle{
			position: absolute;
			top: ~"calc(50% - 17px)";
			right: 10px;
			margin: 0;
		}
	}
	&.shrink {
		.opacity(0.9);
		.transform(opacity 1s ease-in-out);
		&:focus, &:hover{
			.opacity(1);
		}
		a.navbar-brand{
			.transition(all 0.3s);
			height: 50px;
			img{
				.transition(all 0.3s);
			}
		}
		li a{
			line-height: 50px;
			.transition(all 0.3s);
		}
	}
}

section{
	padding: 4em 0;
	h1, h2, h3, h4, h5{
		padding-top: .25em;
	}
	h1{
		font-size: @h1-size;
		@media screen and (max-width: 768px) {
			font-size: @h1-size*0.75 !important;
		}
	}
	&#home-first{
		padding: 0;
		height: ~"calc(100vh - 50px)";
      background: url('/static/img/google-cloud.jpg') 50%;
		.background-size(contain);
		background-repeat: no-repeat;
		position: relative;
		background-color: #D0EDF5;
		*{
			text-align: center;
			color: white;
			font-weight: 600;
		}
		h1{
			padding-top: 25vh;
			padding-bottom: 0;
			font-size: @h1-size;
			margin-top: 20px;
			margin-bottom: 10px;
		}
		p{
			font-size: 3.5em;
			@media screen and (max-width: 768px) {
				font-size: 3.5em*0.75;
			}
		}
	}
	&#login, &#signup{
		padding: 0;
		min-height: ~"calc(100vh - 50px)";
		.background-size(cover);
		background-repeat: no-repeat;
		background-positon: left bottom;
		position: relative;
		background-color: #323335;
      height: ~"calc(100vh - 70px)";
      display: table;
      width: 100%;
      h3 {
			text-align: center;
        font-size: @h1-size*((6-4)/6);
        @media screen and (max-width: 768px) {
          font-size: @h1-size*((6-4)/6)*0.75;
        }
		}
      p {
        @media screen and (max-width: 768px) {
          font-size: 1em;
        }
      }
		.box{
          padding: 40px;
          display: table-cell;
          vertical-align: middle;
          @media screen and (max-width: 768px) {
            padding: 20px;
          }
          .box-top, form {
            max-width: 700px;
            margin: 0 auto;

          }
			.box-top{
				overflow: hidden;
				padding: 0 25px 15px 25px;
				background: #fff;
				.border-radius(4px 4px 0 0);
			}
			form{
				position: relative;
				background-color: #eee;
				width: 100%;
				padding: 40px 40px 80px 40px;
				.border-radius(0 0 4px 4px);
              @media screen and (max-width: 768px) {
                padding: 20px 20px 40px 20px;
              }
			}
			.input-group{
				padding: 15px;
				span.input-group-addon{
					top: 0;
				}
			}
			input:not([type="checkbox"]){
				width: 100%;
			}
			button[type=submit]{
				padding: 10px 35px;
				position: absolute;
				right: 30px;
				bottom: 30px;
			}
		}
	}
	&#login{
		background: url('/static/img/login-bg.jpg');
	}
	&#signup{
		background: url('/static/img/signup.jpg');
		.background-size(cover);
	}
	&#robots-list{
		min-height: ~"calc(100vh - 304px)";
		padding: 80px 40px;
		h1{
			font-size: @h1-size;
			@media screen and (max-width: 768px) {
				font-size: @h1-size*0.65 !important;
			}
		}
		div.table-responsive{
			max-width: 1100px;
			margin: 0 auto;
		}
		table{
			tr:nth-child(odd){
				background-color: #fff;
			}
			tr:nth-child(even){
				background-color: #F3F3F3;
			}
		}
	}
	&#not-found{
		h1,h2,h3,h4,h5,h6{
			text-align: center;
		}
	}
	&#robots-control {
		h1 {
			font-size: 3.5em;
		}
	}
}

.blurred-layered{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000;
	.opacity(0.2);
	&-text{
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
.absolute-bottom{
	position: absolute;
	bottom: 0;
}

footer{
	width: 100%;
	background-color: #000;
	div.pre-footer{
		text-align: inherit;
		width: 100%;
		margin: 0 0 0 0;
		border-top: 1px solid #eee;
		padding: 40px 0;
		background: @header-backgrounds;
	}
	p.copyright{
		color: #fff;
		text-align: center;
		padding: 1em 0;
		margin: 0;
	}
	h4{
		font-weight: bold;
		margin-bottom: 10px;
		font-size: 20px;
		border-bottom: 1px solid #dfdfdf;
		padding-bottom: 10px;
	}
}
h1, h3, h5{
	font-family: 'Helvetica Neue', sans-serif;
}

h1 {
	color: #111;
	padding: .2em 0;
	font-size: @h1-size;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	margin: 0;
}

h2, h4, h6{
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 5em;
	font-weight: 500;
	color: @red;
	line-height: 1;
	padding: .5em 0;
	margin: 0;
	text-transform: uppercase;
}
h3{
	font-size: 4em;
	text-transform: uppercase;
}
h4{
	font-size: 3em;
}
h5{
	font-size: 2em;
}
h6{
	font-size: 1em;
}
img{
	max-width: 100%;
}
.center{
	text-align: center;
	display: block;
	margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}
#romo{
	max-height: 400px;
}
#ribbo{
	padding: .25em 0 2.25em 0;
}
p{
	font-size: 1.25em;
	&.note{
		font-size: 1em;
	}
	&.justify{
		text-align: justify;
	}
}
.navbar-brand {
	padding: 0;
	img{
		max-height: 100%;
	}
}

#video_preview {
	position: relative;
	top: 10px;
	#player {
		height: 70vh !important;
	}
	#controls {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
		height: 100%;
		#robot-info {
			position: absolute;
			top: 40px;
			right: 0;
			padding-right: 15px;
			table {
				color: #fff;
				tr {
					background-color: inherit;
				}
			}
		}
		#robot-arrows {
			position: absolute;
			bottom: 45px;
			right: 60px;
			.circle {
				float: left;
				width: 45px;
				height: 45px;
				position: relative;
				top: 5px;
				left: 8px;
				background: #FF0000;
				border-radius: 50%;
			}
			.arrow {
				width: 60px;
				height: 50px;
				max-width: 100%;
				background: url('/static/img/sprite-arrows.png');
				&.arrow-down {
					background-position: 0 0;
					background-size: 100%;
				}
				&.arrow-up {
					background-position: 0 29.281768%;
					background-size: 100%;
				}
				&.arrow-left {
					background-position: 0 62.352941%;
					background-size: 121.256039%;
					clear: left;
				}
				&.arrow-right {
					background-position: 0 100%;
					background-size: 121.256039%;
					clear: right;
					position: relative;
					left: 15px;
				}
				&.arrow-up, &.arrow-down {
					float: left;
					clear: both;
					margin-left: 50px;
				}
				&.arrow-left, &.arrow-right {
					width: 50px;
					height: 60px;
					float: left;
				}
			}

		}
	}
}

input.has-errors{
	border-color: #a94442;
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
}

[class^="rotate-streaming"]:hover {
  cursor: pointer;
}

/**		MIXINS		*/
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
}

.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}
.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}
.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.skew (@deg, @deg2) {
	-webkit-transform:       skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
}
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective: 	@value;
	-ms-perspective: 	@value;
	perspective: 		@value;
}
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
}
.background-size (@value) {
    -webkit-background-size: @value;
    -moz-background-size: @value;
    -o-background-size: @value;
    background-size: @value;
}
.filter(@filterString){
	 -webkit-filter: @filterString;
    -moz-filter: @filterString;
    -o-filter: @filterString;
    -ms-filter: @filterString;
    filter: @filterString;
}