header + * {
  margin-top: 70px;
}
ul.flash-messages {
  background-color: #fff;
  padding: 0;
  text-align: center;
  z-index: 500;
  margin-bottom: 0;
}
ul.flash-messages li {
  list-style: none;
  padding: 20px 0;
  width: 100%;
  margin: 0;
}
nav {
  background-color: #ccc;
  min-height: 50px;
  max-height: 70px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
}
nav a.navbar-brand {
  height: 70px;
  max-height: 100%;
}
nav ul {
  margin: 0;
  float: right;
}
nav ul li {
  padding: 0 30px;
  display: inline-block;
}
nav ul li a {
  line-height: 70px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}
nav ul li a:hover,
nav ul li a.active {
  color: #e65454;
  text-decoration: none;
}
nav div#menu {
  background-color: #f8f8f8;
}
nav .navbar-header button.navbar-toggle {
  position: absolute;
  top: calc(50% - 17px);
  right: 10px;
  margin: 0;
}
nav.shrink {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  -webkit-transform: opacity 1s ease-in-out;
  -moz-transform: opacity 1s ease-in-out;
  -ms-transform: opacity 1s ease-in-out;
  -o-transform: opacity 1s ease-in-out;
}
nav.shrink:focus,
nav.shrink:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
nav.shrink a.navbar-brand {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  height: 50px;
}
nav.shrink a.navbar-brand img {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
nav.shrink li a {
  line-height: 50px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
section {
  padding: 4em 0;
}
section h1,
section h2,
section h3,
section h4,
section h5 {
  padding-top: .25em;
}
section h1 {
  font-size: 10em;
}
@media screen and (max-width: 768px) {
  section h1 {
    font-size: 7.5em !important;
  }
}
section#home-first {
  padding: 0;
  height: calc(100vh - 50px);
  background: url('/static/img/google-cloud.jpg') 50%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-color: #D0EDF5;
}
section#home-first * {
  text-align: center;
  color: white;
  font-weight: 600;
}
section#home-first h1 {
  padding-top: 25vh;
  padding-bottom: 0;
  font-size: 10em;
  margin-top: 20px;
  margin-bottom: 10px;
}
section#home-first p {
  font-size: 3.5em;
}
@media screen and (max-width: 768px) {
  section#home-first p {
    font-size: 2.625em;
  }
}
section#login,
section#signup {
  padding: 0;
  min-height: calc(100vh - 50px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-positon: left bottom;
  position: relative;
  background-color: #323335;
  height: calc(100vh - 70px);
  display: table;
  width: 100%;
}
section#login h3,
section#signup h3 {
  text-align: center;
  font-size: 3.33333333em;
}
@media screen and (max-width: 768px) {
  section#login h3,
  section#signup h3 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 768px) {
  section#login p,
  section#signup p {
    font-size: 1em;
  }
}
section#login .box,
section#signup .box {
  padding: 40px;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  section#login .box,
  section#signup .box {
    padding: 20px;
  }
}
section#login .box .box-top,
section#signup .box .box-top,
section#login .box form,
section#signup .box form {
  max-width: 700px;
  margin: 0 auto;
}
section#login .box .box-top,
section#signup .box .box-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #fff;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
section#login .box form,
section#signup .box form {
  position: relative;
  background-color: #eee;
  width: 100%;
  padding: 40px 40px 80px 40px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media screen and (max-width: 768px) {
  section#login .box form,
  section#signup .box form {
    padding: 20px 20px 40px 20px;
  }
}
section#login .box .input-group,
section#signup .box .input-group {
  padding: 15px;
}
section#login .box .input-group span.input-group-addon,
section#signup .box .input-group span.input-group-addon {
  top: 0;
}
section#login .box input:not([type="checkbox"]),
section#signup .box input:not([type="checkbox"]) {
  width: 100%;
}
section#login .box button[type=submit],
section#signup .box button[type=submit] {
  padding: 10px 35px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
section#login {
  background: url('/static/img/login-bg.jpg');
}
section#signup {
  background: url('/static/img/signup.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#robots-list {
  min-height: calc(100vh - 304px);
  padding: 80px 40px;
}
section#robots-list h1 {
  font-size: 10em;
}
@media screen and (max-width: 768px) {
  section#robots-list h1 {
    font-size: 6.5em !important;
  }
}
section#robots-list div.table-responsive {
  max-width: 1100px;
  margin: 0 auto;
}
section#robots-list table tr:nth-child(odd) {
  background-color: #fff;
}
section#robots-list table tr:nth-child(even) {
  background-color: #F3F3F3;
}
section#not-found h1,
section#not-found h2,
section#not-found h3,
section#not-found h4,
section#not-found h5,
section#not-found h6 {
  text-align: center;
}
section#robots-control h1 {
  font-size: 3.5em;
}
.blurred-layered {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}
.blurred-layered-text {
  position: absolute;
  width: 100%;
  height: 100%;
}
.absolute-bottom {
  position: absolute;
  bottom: 0;
}
footer {
  width: 100%;
  background-color: #000;
}
footer div.pre-footer {
  text-align: inherit;
  width: 100%;
  margin: 0 0 0 0;
  border-top: 1px solid #eee;
  padding: 40px 0;
  background: #efefef;
}
footer p.copyright {
  color: #fff;
  text-align: center;
  padding: 1em 0;
  margin: 0;
}
footer h4 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 10px;
}
h1,
h3,
h5 {
  font-family: 'Helvetica Neue', sans-serif;
}
h1 {
  color: #111;
  padding: .2em 0;
  font-size: 10em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  margin: 0;
}
h2,
h4,
h6 {
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 5em;
  font-weight: 500;
  color: #e65454;
  line-height: 1;
  padding: .5em 0;
  margin: 0;
  text-transform: uppercase;
}
h3 {
  font-size: 4em;
  text-transform: uppercase;
}
h4 {
  font-size: 3em;
}
h5 {
  font-size: 2em;
}
h6 {
  font-size: 1em;
}
img {
  max-width: 100%;
}
.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
#romo {
  max-height: 400px;
}
#ribbo {
  padding: .25em 0 2.25em 0;
}
p {
  font-size: 1.25em;
}
p.note {
  font-size: 1em;
}
p.justify {
  text-align: justify;
}
.navbar-brand {
  padding: 0;
}
.navbar-brand img {
  max-height: 100%;
}
#video_preview {
  position: relative;
  top: 10px;
}
#video_preview #player {
  height: 70vh !important;
}
#video_preview #controls {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  height: 100%;
}
#video_preview #controls #robot-info {
  position: absolute;
  top: 40px;
  right: 0;
  padding-right: 15px;
}
#video_preview #controls #robot-info table {
  color: #fff;
}
#video_preview #controls #robot-info table tr {
  background-color: inherit;
}
#video_preview #controls #robot-arrows {
  position: absolute;
  bottom: 45px;
  right: 60px;
}
#video_preview #controls #robot-arrows .circle {
  float: left;
  width: 45px;
  height: 45px;
  position: relative;
  top: 5px;
  left: 8px;
  background: #FF0000;
  border-radius: 50%;
}
#video_preview #controls #robot-arrows .arrow {
  width: 60px;
  height: 50px;
  max-width: 100%;
  background: url('/static/img/sprite-arrows.png');
}
#video_preview #controls #robot-arrows .arrow.arrow-down {
  background-position: 0 0;
  background-size: 100%;
}
#video_preview #controls #robot-arrows .arrow.arrow-up {
  background-position: 0 29.281768%;
  background-size: 100%;
}
#video_preview #controls #robot-arrows .arrow.arrow-left {
  background-position: 0 62.352941%;
  background-size: 121.256039%;
  clear: left;
}
#video_preview #controls #robot-arrows .arrow.arrow-right {
  background-position: 0 100%;
  background-size: 121.256039%;
  clear: right;
  position: relative;
  left: 15px;
}
#video_preview #controls #robot-arrows .arrow.arrow-up,
#video_preview #controls #robot-arrows .arrow.arrow-down {
  float: left;
  clear: both;
  margin-left: 50px;
}
#video_preview #controls #robot-arrows .arrow.arrow-left,
#video_preview #controls #robot-arrows .arrow.arrow-right {
  width: 50px;
  height: 60px;
  float: left;
}
input.has-errors {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

[class^="rotate-streaming"]:hover {
  cursor: pointer;
}
/**		MIXINS		*/
