<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>{% block title %}Ribbo{% endblock %}</title>
	<!-- meta -->
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">

      <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- styles -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/styles.css" rel="stylesheet">

  	<script src="//code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>

	{% block css %}{% endblock %}
  </head>
  <body>
	<header>
        {%
            set navigation_bar = [
                ('index', 'Home', True),
                ('list_robots', 'Robots', True),
                ('signup', 'signup', False),
                ('login', 'Login', False)
                ]
        %}
        {% set active_page = active_page|default('index') %}
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
			        <a class="navbar-brand" href="/">
			        	<img src="/static/img/ribbo-square.png" alt="Ribbo logo">
			        </a>
		      	</div>
		      	<div id="menu" class="navbar-collapse collapse">
					<ul>
                        {% for id, caption, show_always in navigation_bar %}
                          {%  if not show_always and  g.user.is_authenticated %}
                              {% if caption == 'signup' and g.user.is_admin() %}
                                  <li>
                                      <a {% if 'users' == active_page %} class="active"{% endif %}
                                                                         href="{{ url_for('users') }}">
                                          Users
                                      </a>
                                  </li>
                              {% endif %}
                              {% if caption == 'Login' %}
                                  <li>
                                      <a href="{{ url_for('logout') }}">
                                            Logout ({{ current_user.username }})
                                      </a>
                                  </li>
                              {% endif %}
                          {%  else: %}
                              <li>
                                  <a {% if id == active_page %} class="active"{% endif %} href="{{ url_for(id)|e }}">
                                      {{ caption|e }}
                                  </a>
                              </li>
                          {% endif %}
                        {% endfor %}
                    </ul>
				</div>
			</div>
		</nav>
	</header>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
 			<ul class=flash-messages>
    			{% for category, message in messages %}
      				<li class="alert alert-{{ category }}">{{ message }}</li>
    			{% endfor %}
    		</ul>
		{% endif %}
	{% endwith %}
	
	<!-- child template -->
	{% block content %}{% endblock %}
	<footer>
		<div class="pre-footer container">
	  		<div class="col-lg-5 col-lg-offset-1">
				<h4>Contact Us</h4>
				<p>Feel free to contact us for any idea/pruposal sending an email to: <a href="mailto:info@ribbo.tk" target="_top">info@ribbo.tk</a></p>
		  	</div>
			<div class="col-lg-5" id="meet-team">
			  <h4>Meet the team</h4>
			  <p>We're four students who are passionate about technology.</p>
			</div>
  		</div>
		<p class="copyright">Ribbo Copyright© 2016 - All rights reserved</p>
	</footer>
	<!-- scripts -->
	<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/js/main.js" type="text/javascript"></script>
	{% block js %}{% endblock %}
  </body>
</html>