{% extends "_base.html" %}
{% set active_page = "index" %}
{% block content %}
		
<section id="home-first">
	<div class="blurred-layered"></div>
	<div class="blurred-layered-text">
		<h1>Meet Ribbo</h1>
		<p>The remote controlled robot</p>
	</div>
</section>

<section class="container" id="home-motivation">
	<div class="col-lg-12">
		<h2>What's Ribbo?</h2>
	</div>
	<div class="col-lg-5 col-lg-offset-1">
		<img id="ribbo" class="center" src="static/img/ribbo.png">
		<p class="justify"><strong>Ribbo</strong> is a <i>remote controlled robot</i> based on an arduino prototype we have created from scratch. Is based on militar remote controlled robots concept but with different target.</p>
	</div>
	<div class="col-lg-5">
		<img class="center" id="romo" src="static/img/romo-example.jpg">
		<p class="note"><b>Note:</b> final product aspect can differ from this image. This is only a conceptual image.</p>
	</div>
</section>
{% endblock %}