{% extends "_base.html" %}
{% set active_page = "login" %}
{% block title %}Ribbo - Login{% endblock %}
{% block content %}
		
<section id="login">
	<div class="container box">
		<div class="box-top">
			<div class="form-top-left">
    			<h3>Login to our site</h3>
        		<p>Enter your username and password to log on:</p>
    		</div>
    		<div class="form-top-right">
    			<i class="fa fa-key"></i>
    		</div>
		</div>
		<form class="form-horitzontal" action="/login/" method="POST">
			<div class="input-group">
			  <span class="input-group-addon glyphicon glyphicon-user"></span>    
			  <input name="username" type="text" class="form-control" placeholder="Username">
			</div>
			<div class="input-group">
			  <span class="input-group-addon glyphicon glyphicon-lock"></span>    
			  <input name="password" type="password" class="form-control" placeholder="Password">
            </div>
            <p style="font-size: 1em;">Don't have an account? <a href="{{ url_for('signup') }}">Sign up!</a></p>
            <input type="checkbox" name="remember" id="remember-me">
            <label for="remember-me">Remember me</label>
		  <button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>
</section>
{% endblock %}