{% extends "_base.html" %}
{% block css %}
    <script type="text/javascript" src="/static/js/jwplayer-7.3.6/jwplayer.js"></script>
    <script src="/static/js/robot-control.js" type="text/javascript"></script>
    <script>jwplayer.key = "fnSjyvoKH7Jb2vu/CvZRmsl+zU9wcU44Rw/7oQ=="</script>
{% endblock %}

{% block content %}
<section id="robots-control">
	<div class="container">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 class="text-uppercase">
                    Robot control
                    <small>(rtmp://ribbo.tk:1935/live/{{ robot.name }})</small>
                </h1>
            </div>
            <div class="col-lg-12">
                <input type="hidden" id="robot_name" value="{{ robot.name }}"/>
                <input type="hidden" id="stream_url" value="rtmp://ribbo.tk:1935/live/{{ robot.name }}"/>
                <div class="left">
                    <input type="button" id="btn_start" class="btn btn-success" value="Start"/>
                    <img class="rotate-streaming-right" style="width:30px" src="/static/img/rotate-right.png"
                         alt="rotate right">
                </div>
                <div class="right">
                    <img class="rotate-streaming-left"
                         style="width:30px;-moz-transform: scaleX(-1);-o-transform: scaleX(-1);-webkit-transform: scaleX(-1); transform: scaleX(-1);filter: FlipH;-ms-filter: "
                         FlipH";" src="/static/img/rotate-right.png" alt="rotate right">
                    <input type="button" id="btn_stop" class="btn btn-danger" value="Stop"/>
                    <a class="btn btn-warning" href="{{ url_for('release_control', robot_id=robot.id) }}">Release
                        control</a>
                </div>

            </div>
            <!-- Video Preview -->
            <div id="video_preview" class="col-lg-12">
                <div id="controls" class="col-lg-4">
                    <div id="robot-info">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Robot name</th>
                                    <th>Location</th>
                                    <th>Battery</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ robot.name }}</td>
                                    <td>{{ robot.location }}</td>
                                    <td><span class="label label-danger">15%</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="robot-arrows">
                        <div class="arrow arrow-up"></div>
                        <div class="arrow arrow-left"></div>
                        <div class="circle"></div>
                        <div class="arrow arrow-right"></div>
                        <div class="arrow arrow-down"></div>
                    </div>
                </div>
                <div class="clear"></div>
                <div id="player"></div>
                <div class="clear"></div>
                <!-- ./Video Preview -->

            </div>
        </div>
    </div>
</section>

{% endblock %}