{% extends "_base.html" %}
{% set active_page = "list_robots" %}
{% block title %}Ribbo - Robots list{% endblock %}
{% block content %}
		
<section id="robots-list">
	<h1>Robots list</h1>
	<div class="table-responsive">
		<table class="table table-striped"> 
			<thead> 
				<tr> 
					<th>#</th> 
					<th>Robot name</th> 
					<th>Location</th> 
					<th>Status</th>
                    {% if g.user.is_admin() %}
                        <th>Token</th>
                    {% endif %}
                </tr>
			</thead> 
			<tbody> 
                {%  for robot in robots %}
                <tr>
					<th scope="row"><a href="{{ url_for("control_robot", robot_id=robot.id) }}">{{ robot.id }}</a></th>
                    <td>{{ robot.name.capitalize() }}</td>
                    <td>{{ robot.location.capitalize() }}</td>
					<td><span class="label label-{{ robot.get_state_class() }}">{{ robot.get_state() }}</span>
                        {% if robot.get_state() == 'In use' and robot.can_release_control(g.user.id) %}
                            <a href="{{ url_for('release_control', robot_id=robot.id) }}">(Release)</a>
                        {% endif %}
                    </td>
                    {% if g.user.is_admin() %}
                        <td>
                            {% if robot.token is not none %}
                                {{ robot.token[-7:] }}
                            {% else %}
                                {{ robot.token }}
                            {% endif %}
                        </td>
                    {% endif %}
				</tr>
            {% endfor %}
			</tbody> 
		</table>
	</div>
</section>
{% endblock %}