{% extends "_base.html" %}
{% set active_page = "signup" %}
{% block title %}Ribbo - Sign up{% endblock %}
{% block content %}
		
<section id="signup">
	<div class="container box">
		<div class="box-top">
			<div class="form-top-left">
    			<h3>Sign up to our site</h3>
                <p class="msg-error"></p>
    		</div>
    		<div class="form-top-right">
    			<i class="fa fa-key"></i>
    		</div>
		</div>
		<form class="form-horitzontal" role="form" action="{{ url_for('signup') }}" method="POST">
			<div class="input-group">
			  <span class="input-group-addon glyphicon glyphicon-user"></span>    
			  <input name="username" type="text" class="form-control" placeholder="Username">
			</div>
			<div class="input-group">
			  <span class="input-group-addon glyphicon glyphicon-lock"></span>    
			  <input name="password" type="password" class="form-control" placeholder="Password">
			</div>
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-lock"></span>
                <input name="password-repeat" type="password" class="form-control" placeholder="Repeat password">
            </div>
            <p style="font-size: 1em; padding-right:125px;">Already have an account? <a href="{{ url_for('login') }}">Login!</a>
            </p>
		  <button type="submit" class="btn btn-primary">Sign up</button>
		</form>
	</div>
</section>
<script>
    function reset_validation(form){
        $('input', form).each(function(index, element){
            jQuery(element).removeClass('has-errors');
            jQuery("p.msg-error").hide();
        });
    }
    function validate_inputs(form){
        var error = false;
        $('input', form).each(function(index, element){
            var input_type = jQuery(this).attr('type');
            if(!(input_type == 'checkbox' || input_type == 'radio')){
               if(!jQuery(element).val().length){
                   jQuery(element).addClass('has-errors');
                   error = true;
               }
            }
        });
        if(error)
            jQuery("p.msg-error").text("Can't be empty").hide().slideToggle('slow');
        return !error;
    }

    function validate_passwords(form){
        var pass = jQuery('[name=password]', form);
        var pass_repeat = jQuery('[name=password-repeat]', form);
        if(pass.val() != pass_repeat.val()){
            pass_repeat.addClass('has-errors');
            return false;

        }
        pass_repeat.removeClass('has-errors');
        return true;
    }
    function validate_form(form){
        reset_validation(form);
        var valid_inputs = validate_inputs(form);
        var valid_passwords = validate_passwords(form);
        return valid_inputs && valid_passwords;
    }
    $( document ).ready(function(){
        $("form").submit(function(e){
            if(!validate_form()){
                e.preventDefault();
                return false;
            }
            return true;
        });
    });
</script>
{% endblock %}