{% extends "_base.html" %}
{% set active_page = "users" %}
{% block content %}

    <section>
        <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Active</th>
                    <th>Authenticated</th>
                    <th>Robots (ID)</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr id="user-{{ user.id }}">
                        <th scope="row"><a href="#">{{ user.id }}</a></th>
                        <td>{{ user.username }}</td>
                        <td><span
                                class="change-active btn label label-{% if user.is_active() %}success {% else %}danger{% endif %}"
                                data-id="{{ user.id }}">{{ user.is_active() }}</span></td>
                        <td>{{ user.is_authenticated() }}</td>
                        <td>{% for robot in user.robots.all() %}
                            <span>{{ robot.id }}</span>
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}

{% block js %}
    <script>
        function change_active(id) {
            var url = window.location.protocol + "//" + window.location.host + "/users/change_state/";
            $.post(
                    url,
                    {id: id},
                    "json"
            ).done(function (response) {
                var label = $(".change-active", $('tr#user-' + id));
                if (!response.error) {
                    console.log('no error');
                    console.log(label);
                    if (label.hasClass('label-danger')) {
                        label.removeClass('label-danger').addClass('label-success').text("True");
                    }
                    else label.removeClass('label-success').addClass('label-danger').text("False");
                }
            });
        }
        $(function () {
            $('.change-active').click(function () {
                change_active($(this).data('id'));
            });
        });

    </script>
{% endblock %}